* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  font-size: 20px;
}

.nav-links li a:hover {
  color: #38bdf8;
}